@media screen and (max-width: 980px) {
    section>div {
        width: 100%;
    }
    .page {
        margin: 10px;
    }
    .main{
        background-size: cover;
    }
    form {
        width: 100%;
        text-align: center;
    }
    form input {
        width: 30%;
    }
}

@media screen and (max-width:910px) {
    .header_first-line .logo {
        display: none;
    }
    .header_first-line {
        height: 58px;
        position: relative;
    }
    .header_first-line .menu-with-button {
        transform: translate3d(-100%, 0, 0);
        transition: all 0.3s ease;
        height: 100%;
        display: inline-block;
        width: auto;
        position: fixed;
        background-color: #fff;
        top: 0;
        left: 0;
        width: 250px;
        z-index: 1;
    }
    .header_first-line .menu-link {
        text-align: left;
        -ms-text-align-last: auto;
        text-align-last: auto;
        padding: 5px 20px;
        color: black;
        display: block;
    }
    .menu-link::before {
        content: "";
        height: 20px;
        width: 4px;
        background-color: transparent;
        left: 15px;
        top: 5px;
        font-size: 20px;
        font-weight: 900;
    }
    .menu-link:hover::before, .menu-link.active::before {
        content: "";
        height: 20px;
        width: 4px;
        background-color: orange;
        left: 15px;
        font-size: 20px;
        font-weight: 900;
        top: 5px;
    }
    .menu-link {
        margin: 10px 0px;
    }
    .header_first-line .menu-with-button .close-menu-button {
        top: 10px;
        right: -30px;
    }
    .header_first-line .open-menu-button {
        display: inline-block;
    }
    .menu-with-button.open {
        transform: translate3d(0, 0, 0);
    }
    .show {
        display: inline-block;
    }
}
@media screen and (max-width:767px) {
    .side {
        width: 100%;
    }
    .side .video {
        margin: 0 auto;
    }
    .side ul {
        margin-left: 20px;
    }
/*    Section 4 Список услуг */
    .service-card {
        width: 33.3333%;
    }
    .service-card.size-2 {
        width: 50%;
    }
    .service-card.size-2 .service-text {
        min-height: 250px;
    }
    .budget {
        width: 100%;
        text-align: center;
    }
    .budget input {
        display: block;
        margin: 10px auto;
    }
}
@media screen and (max-width:640px) {
    form.leave-request input, form.leave-request .button-w-text {
        display: block;
        margin: 10px auto;
        width: 70%;
    }
    .button-w-text .button {
        width: 100%;
    }
}
@media screen and (max-width:570px) {
    /*    Section 4 Список услуг */
    .service-card {
        width: 50%;
    }
        .service-card.size-2 {
        width: 400px;
    }
    .service-card.size-2 .service-text {
        min-height: auto;
    }
}
@media screen and (max-width:450px) {
    /*    Section 4 Список услуг */
    .service-card, .service-card.size-2 {
        width: 300px;
    }
    .service-text {
        min-height: auto;
    }
    form.leave-request input, form.leave-request .button-w-text {
        width: 100%;
    }
    form.budget input {
        width: 300px;
    }
    form.budget .button-w-text {
        width: 300px;
        margin: 0;
    }
}